body{
     margin: 0;
     padding: 0;
     text-align: center;
     backround: linear-gradient(rgbaa(0, 0, 50, 0.5)),url(bg.png);
     backround-size: cover;
     font-family: sans-serif;
     